#adminlabel{
    color: forestgreen;
    text-align: center;
}
#adminactions{
    text-align: center;
}
#service, #poll{
    color:white;
    background-color: forestgreen;
    padding: 20px;
    border-radius: 20px;
    width:200px;
    height:100px;
    font-family: Proxima Nova;
    border:0;
    text-decoration:none;
    font-size:1.5vmax;
}


