div.Loginarea{
    font-family: Proxima Nova;
    font-size: 1.8vmax;
    margin-top: 20%;
    margin-left: 58%;
    text-align: center;
}
#userlabel{
    color: white;
    font-weight:500;
}
#usertext, #passtext{
    background-color:transparent;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 6px;
    border-radius: 6px;
    border-bottom-color: white;
    color:white;
    outline: none;
    width: 100%;
    padding-top: 10px;
    text-align: center;
}
#passlabel{
    color:white;
    font-weight:500;
    padding-top: 10px;
}
div.ShowForget{
    margin-left: 58%;
    color: white;
    background-color: transparent;
    font-family: Proxima Nova;
    font-size: 1.8vmax;
    font-weight:500;
    padding-top: 10px;
    padding-left: 10px;
}
#forgot{
    float:right;
    text-decoration: none;
    outline: none;
    color: white;
    padding-right: 10px;
}
button.login{
  width: 200px;
  margin-left: 70%;
  margin-top: 1%;
  border-color: transparent;
  border-radius: 20px;
  background-color: white;
  color: forestgreen;
  font-family: Proxima Nova;
  font-size: 1.5vmax;
  padding: 10px;
  text-decoration: none;
}
div.notmem{
    margin-left: 70%;
}
#notmem{
    color:white;
}
#signup{
    text-decoration: none;
    outline: none;
    color:gold;
}
