body {
  background-image: url('../Images/Main.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  min-width: 100%;
  max-width: 100%;
  margin-right:auto;
  margin-left: auto;
}

button.Logo{
  float: left;
  padding: 20;
  color: forestgreen;
  background:none;
  font-family: Proxima Nova;
  border:none;
  font-size: 1.5vmax;
}
button.Navcontents{
  float: right;
  padding: 20;
  color: forestgreen;
  background:none;
  font-family: Proxima Nova;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 7px;
  border-bottom-color: transparent;
  font-size: 1.5vmax;
}
button.Navcontents:hover{
  border-bottom-color: greenyellow;
}
button.contact{
  position: fixed;
  bottom: 20;
  right: 20;
  border-color: transparent;
  border-radius: 20px;
  background-color: white;
  color: forestgreen;
  font-family: Proxima Nova;
  font-size: 1.5vmax;
  padding: 10px;
  text-decoration: none;
}