div.MainArea{
    height: 500px;
    width: 800px;
    margin-top: 10%;
}
div.welcome{
    float: left;
    margin-top: 20%;
}
div.features{
    float: right;
}

#line1{
    font-family: Proxima Nova;
    font-size: 3vmax;
    font-weight:500;
    color: black;
    margin:0;
}
#line2{
    font-family: Proxima Nova;
    font-size: 3vmax;
    font-weight:800;
    color: forestgreen;
    font-style: italic;
    margin:0;
}
#place, #check, #poll, #feed{
    margin:35px;
    height: 130px;
    width: 130px;
    border: 5px solid forestgreen;
    border-radius: 5px;
    padding: 5px;
}
button.contact{
    color:white;
    background-color: forestgreen;
}
#placebutton, #checkinbutton, #pollbutton, #feedbackbutton{
    width: 200px;
    border-color: transparent;
    border-radius: 20px;
    background-color: forestgreen;
    color: white;
    font-family: Proxima Nova;
    font-size: 1.5vmax;
    padding: 5px;
    text-decoration: none;
}